:root {
    --lado: 75vh;
}
*, *::after, *::before {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #888;
}
.reloj {
    --horaAng: 0deg;
    --minutoAng: 90deg;
    --segundoAng: 180deg;
    width: var(--lado);
    height: var(--lado);
    margin: 2rem auto 0;
    border: 30px solid peru;
    border-radius: 50%;
    position: relative;
/*
    &::after {
        content: '';
        position: absolute;
        height: 0;
        width: 100%;
        border: 1px solid green;
        top: 50%;
        transform: translateY(-50%);
    }
    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 0;
        border: 1px solid green;
        left: 50%;
        transform: translateX(-50%);
    }
*/
}
.marcador {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 5%;
    top: 47.5%;
    transform: translateY(-50%);
    transform-origin: left center;

    &::after {
        position: absolute;
        content: '';
        background-color: #333;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
    }
}
.hora {
    transform: rotate(var(--horaAng));

    &::after {
        height: 100%;
        width: 50%;
    }
}
.minuto {
    transform: rotate(var(--minutoAng));

    &::after {
        height: 100%;
        width: 85%;
    }
}
.segundo {
    transform: rotate(var(--segundoAng));
    display: flex;
    align-items: center;

    &::after {
        height: 50%;
        width: 90%;
    }
}
